<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pacr">
  <link name="world" />

  <joint name="base_link_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find labrob_desc)/meshes/base_link.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find labrob_desc)/meshes/base_link.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="shoulder_joint" type="revolute">
    <parent link="base_link" />
    <child link="shoulder" />
    <origin xyz="0 0 0.057441" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-1.570796327" upper="1.570796327" effort="100" velocity="100" />
  </joint>

  <link name="shoulder">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find labrob_desc)/meshes/shoulder.dae" />
      </geometry>
    </visual>
  </link>

  <ros2_control name="pacr_hardware_interface" type="system">
    <hardware>
      <plugin>pacr_hardware_interface/PACRHardwareInterface</plugin>
      <param name="use_fake_hardware">true</param><!-- minimal simulation, input equals output -->
      <param name="adapter">enx00e04c4b7f50</param><!-- interface name of ethernet usb dongle, standard en0, can be obtained with terminal command 'ifconfig' -->
    </hardware>

    <joint name="shoulder_joint">
      <command_interface name="position"><!-- interface for position control -->
        <param name="min">-1.570796327</param>
        <param name="max">1.570796327</param>
        <param name="initial_value">0.0</param>
      </command_interface>
      <state_interface name="position" />
    </joint>

  </ros2_control>
</robot>
